#container {
	margin: 0 auto;
	width: 640px;
}

.red-sm {
	width: 150px;
	height: 150px;
	float: left;
	margin: 5px 5px 5px 10px;
	background-color: red;
}

.blue-md {
	width: 440px;
	height: 150px;
	float: left;
	margin: 5px 10px 5px 5px;
	background-color: blue;
}

.yel-lg {
	clear: both;
	display: inline-block;
	width: 600px;
	height: 150px;
	margin: 5px 10px 10px 10px;
	background-color: yellow;
}


