#container {
	margin: 0 auto;
	width: 640px;
}

.red-sm {
	width: 25%;
	height: 150px;
	float: left;
	margin: 2%;
	background-color: red;
	border: 2px solid black;
}

.blue-md {
	width: 65%;
	height: 150px;
	float: right;
	margin: 2%;
	background-color: blue;
	border: 2px solid black;
}

.yel-lg {
	clear: both;
	width: 95%;
	height: 150px;
	margin: 2.5%;
	background-color: yellow;
	border: 2px solid black;
}


