body {
	font-family: "Roboto", sans-serif;

}

.container {
	margin: 0 auto;
	width: 500px;
	background-color: #ffffcc;
	color: #000033;
	min-height: 400px;
}

h1 {
	text-align: center;
}

form {
	font-size: 18px;
	padding: 15px;
	margin: 15px;
	background-color: #fffff4;
}

input {
	padding: 5px;
	margin: 5px;
}

.panel {
	padding: 10px;	
	border-width: 0px;
	background-color: #fffff4;
}

ul {
	list-style-type: none;
	margin-left: -40px;
}

.glyphicon-remove:hover {
	cursor: pointer;
	color: red;
	transition: 0.5s;
	transform: rotateY(180deg);
}